* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: var(--BaseFont);
    -webkit-font-smoothing: antialiased;
    background-color: var(--Background);
}



@media screen and (max-width: 768px) {

    /*ADMIN LAYOUT*/
    .layout-admin {
        display: grid;
        grid-template: 60px 1fr / 1fr;
        grid-template-areas: "header" "main";
        height: 100%;
    }

    .layout-admin .sideBar {
        position: fixed;
        top: 0;
        left: -70%;
        background-color: var(--Background);
        width: 70%;
        transition: all .8s ease;
        z-index: 1000;
        height: 100%;
    }
    .layout-admin .sideBar.open{
        left: 0;
    }

    .layout-admin .header .open-menu{
        padding: 2px;
        transition: all .5s ease-in-out;
        border-radius: var(--radius-sm);
    }
    .layout-admin .header .open-menu:hover{
        background-color: var(--SwitchBackground);
    }
    .layout-admin .sideBar #close-menu{
        padding: 2px;
        transition: all .5s ease-in-out;
        border-radius: var(--radius-sm);
    }
    .layout-admin .sideBar #close-menu:hover{
        background-color: var(--SwitchBackground);
    }

    .layout-admin .overlay{
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .4);
        backdrop-filter: blur(4px);
        opacity: 0;
        visibility: hidden;
        transition: .8s ease;
        z-index: 900;
    }

    .layout-admin .overlay.active{
        opacity: 1;
        visibility: visible;
    }

    .layout-admin .show-info {
        display: flex;
        flex-direction: column;
        border-bottom: .5px solid var(--SwitchBackground);
        height: 140px;
    }

    .layout-admin .logo-system {
        padding-left: 15px;
        border-bottom: .5px solid var(--SwitchBackground);
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--text-sm);
        font-weight: lighter;
    }


    .layout-admin .logo-system img {
        margin-right: 25px;
    }

    .layout-admin .logo-system h2 {
        font-size: var(--text-xl);
        font-weight: var(--weight-bd);
    }

    .layout-admin .info-profile {
        padding-left: 15px;
        height: 50%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .layout-admin .info-profile .profile-poto {
        border-radius: var(--radius-full);
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Secondary);
    }

    .layout-admin .user-details h3 {
        font-weight: var(--weight-nl);
        font-size: var(--text-lg);
    }

    .layout-admin .user-details span {
        background-color: var(--Secondary);
        width: 100px;
        padding: 0 10px;
        border-radius: var(--radius-sm);
        font-size: var(--text-sm);
    }

    /*NAVBAR STYLE*/
    .layout-admin .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 140px);
    }

    .layout-admin .nav-bar .main-nav {
        display: flex;
        height: 75%;
        width: 98%;
        padding: 2px;
    }

    .layout-admin .main-nav .nav-list,
    .layout-admin .set-nav .nav-list {
        list-style: none;
        width: 100%;
    }

    .layout-admin .main-nav .nav-item {
        margin: 5px;
        padding: 7px;
        border-radius: var(--radius-md);
        padding-left: 15px;
    }

    .layout-admin .main-nav .nav-item:hover,
    .layout-admin .set-nav .nav-item:hover {
        background-color: var(--Muted);

    }

    .layout-admin .main-nav .nav-list .nav-link {
        text-decoration: none;
        color: var(--Primary);
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: var(--text-xm);
    }


    .layout-admin .set-nav {
        width: 98%;
        padding: 10px 2px;
        border-top: 1px solid var(--SwitchBackground);
    }

    .layout-admin .set-nav .nav-item {
        padding: 7px;
        padding-left: 15px;
        border-radius: var(--radius-md);
    }

    .layout-admin .set-nav .nav-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--Primary);
        font-size: var(--text-xm);

    }


    .layout-admin .header{
        display: flex;
        align-items: center;
        gap: 15px;
        height: 60px;
        padding: 15px;
        position: fixed;
        z-index: 800;
        background-color: var(--Background);
        width: 100%;
        border-bottom: 1px solid var(--SwitchBackground);
        box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    }
    .layout-admin .header .open-menu{
        display: flex;
        align-items: end;
        height: 100%;
    }

    .layout-admin .header h2{
        font-weight: var(--weight-lg);
        font-size: var(--text-xl);
        color: var(--Primary);
    }
    body{
        overflow: scroll;
    }

    body.no-scroll{
        overflow: hidden;
    }

    /*OTHER USERS LAYOUT*/
    .layout {
        display: grid;
        grid-template: 100px 1fr / 1fr;
        grid-template-areas: "header" "main";
        bordr: 1px solid var(--SwitchBackground);
        height: 100%;
    }

    .header {
        grid-area: header;
    }

    .sideBar {
        position: absolute;
        top: 110px;
        background-color: var(--Background);
        width: 100%;
    }



    .main {
        grid-area: main;
        height: 100%;
    }

}

@media screen and (min-width: 990px) {

    .layout {
        display: grid;
        grid-template: 115px 1fr / 250px 1fr;
        grid-template-areas:
            "sideBar header"
            "sideBar main"
        ;
        border: 1px solid;
        height: 100%;
        margin: 3px;
    }

    .sideBar {
        grid-area: sideBar;
    }

    .header {
        grid-area: header;
        border-bottom: 1px solid;
        border-left: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .main {
        grid-area: main;
        border-left: 1px solid;
    }

    .header .school-img {
        border-radius: var(--radius-full);
        border: 1px solid;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
    }

    .sideBar .show-info {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid;
        height: 150px;

    }

    .show-info .logo-system {
        border-bottom: 1px solid;
        padding: 10px;
        height: 50%;
    }

    .show-info .user-details {
        padding: 10px;
        height: 50%;
    }

    .info-profile {
        display: flex;
        align-items: center;
    }

    .info-profile .profile-poto {
        border: 1px solid;
        border-radius: var(--radius-full);
        height: 50px;
        width: 50px;
        display: flex;
    }

}