.overlay-feed {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
    display: none;
}

.overlay-feed.active {
    display: block;
}

@media screen and (max-width: 990px) {

    .feed-wrapper {
        display: grid;
        margin-top: 75px;
    }

    #feed-section {
        padding: 1.3rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #feed-section .header-feed {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-feed .title-feed {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 200px;
    }

    .title-feed h2 {
        font-weight: var(--weight-bd);
    }

    .title-feed p {
        color: var(--MutedForegroundC);
    }

    .header-feed .btn-new-publish {
        height: 35px;
        border: none;
        border-radius: var(--radius-sm);
        background-color: var(--AccentBlue);
        color: var(--Background);
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: var(--text-sm);
        font-weight: vr(--weight-br);
        transition: all .1s ease-in-out;
    }

    .header-feed .btn-new-publish:hover {
        background-color: var(--AccentBlueHover);
    }

    .btn-new-publish svg {
        height: 20px;
        width: 20px;
    }

    /*PUBLICATION MODAL*/
    .feed-modal {
        width: 90%;
        background-color: var(--Background);
        padding: 1.5rem;
        border: 1px solid var(--Muted);
        border-radius: var(--radius-md);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 2px 6px 23px rgba(0, 0, 0, .3);
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: none;
        z-index: 2;
    }

    .feed-modal.show {
        display: block;
    }

    .feed-modal .feed-modal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    .feed-modal-header h3 {
        font-weight: var(--weight-bd);
    }

    .feed-modal-header p {
        text-align: center;
        color: var(--MutedForegroundC);
    }

    .feed-modal-header .close-icon-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        background: none;
        border: none;
        padding: 2px;
        border-radius: var(--radius-sm);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .1s ease-in-out;
    }

    .close-icon-btn img {
        height: 18px;
        width: 18px;
    }

    .close-icon-btn:hover {
        background-color: var(--Muted);
    }

    /*FORM PUBLICATION*/
    .publication-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .publication-form .input-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .input-box label {
        font-weight: var(--weight-sb);
    }

    .input-box select {
        height: 40px;
        background-color: var(--InputBackground);
        border: 1px solid transparent;
        outline: 3px solid transparent;
        border-radius: var(--radius-sm);
        padding: 5px;
        font-weight: var(--weight-nl);
        transition: all .1s ease-in-out;
    }

    .input-box textarea {
        height: 65px;
        background-color: var(--InputBackground);
        border: 1px solid transparent;
        border-radius: var(--radius-md);
        outline: 3px solid transparent;
        padding: 6px 12px;
        resize: none;
        font-family: inherit;
        transition: all .1s ease-in-out;
        font-size: var(--text-nl);
    }

    .input-box .fileName {
        color: var(--MutedForegroundC);
    }

    .input-box select:focus,
    .input-box textarea:focus {
        outline-color: var(--SwitchBackground);
        border-color: gray;
    }

    .btn-publish-box {
        align-self: flex-end;
        margin-top: 10px;
        display: flex;
        gap: 10px;

    }

    .btn-publish-box button {
        width: 85px;
        height: 35px;
        border: none;
        border-radius: var(--radius-sm);
        font-size: var(--text-sm);
        transition: all .1s ease-in-out;
    }

    .btn-publish-box button:nth-child(1) {
        background-color: var(--Background);
        border: 1px solid var(--SwitchBackground);
    }

    .btn-publish-box button:nth-child(1):hover {
        background-color: var(--Muted);
    }

    .btn-publish-box button:nth-child(2) {
        background-color: var(--AccentBlue);
        color: var(--Background);
        font-weight: var(--weight-br);
    }

    .btn-publish-box button:nth-child(2):hover {
        background-color: var(--AccentBlueHover);
    }

    /*TABS PUBLICATION AREA*/
    .tabs-publication {
        background-color: var(--Muted);
        padding: 5px;
        border-radius: var(--radius-lg);
        display: flex;
    }

    .tabs-publication button {
        height: 30px;
        width: 50%;
        border: none;
        border-radius: var(--radius-lg);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .tabs-publication button svg {
        height: 19px;
        width: 19px;
    }

    .tabs-publication .active {
        background-color: var(--AccentBlue);
        color: var(--Background);
    }

    /*PUBLICATION CARD*/
    .publication-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: none;
    }

    div .active-pub {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .publication-card {
        border: 1px solid var(--SwitchBackground);
        border-radius: var(--radius-md);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .publication-card.hidden {
        display: none;
    }

    .publication-card .header-publication-card {
        display: flex;
        justify-content: space-between;
    }

    .header-publication-card .info-user-publication-card {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .info-user-publication-card .img-user {
        border-radius: var(--radius-full);
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Muted);
    }

    .img-user img {
        height: 100%;
        width: 100%;
        aspect-ratio: 3/4;
    }

    .info-user-publication-card .name-user {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .name-user h4 {
        font-weight: var(--weight-bd);
    }

    .name-user p {
        color: var(--MutedForegroundC);
        font-size: var(--text-sm);
    }

    .info-user-publication-card .publication-type-info {
        font-size: var(--text-sm);
        background-color: var(--Muted);
        height: fit-content;
        padding: 2px 5px;
        border-radius: var(--radius-md);
    }

    .header-publication-card .options-publication-card {
        height: 25px;
        border: none;
        background: none;
    }

    .options-publication-card svg {
        height: 25px;
        padding: 3px;
        border-radius: var(--radius-sm);
    }

    .options-publication-card svg:hover {
        background-color: var(--Muted);
    }


    /*DROP ACTIONS POST CARD*/
    .options-publication-card .drop-post-card-actions {
        position: absolute;
        right: 40px;
        width: 190px;
        background-color: var(--Background);
        border: 1px solid var(--Muted);
        border-radius: var(--radius-sm);
        box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        padding: 5px;
        display: none;
    }

    .drop-post-card-actions.dropActionsPostCard {
        display: block;
    }

    .drop-post-card-actions .drop-post-card-action {
        display: flex;
        gap: 10px;
        border-radius: var(--radius-sm);
        align-items: center;
        transition: background-color .1s ease;
        padding: 5px;
        padding: 6px 5px;
    }

    .drop-post-card-action svg {
        color: var(--Destructive);
    }

    .drop-post-card-action:hover {
        background-color: var(--Muted);
    }

    .drop-post-card-action:nth-child(2) {
        color: var(--Destructive);
    }

    .drop-post-card-action:hover {
        background-color: var(--Muted);
    }

    /*CONTENT PUBLICATION*/
    .publication-card .publication-card-content {
        color: var(--Primary);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .publication-card-content .attachment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--Muted);
        border-radius: var(--radius-md);
        padding: 7px 10px;
    }

    .attachment .file-info {
        display: flex;
        align-items: center;
        gap: 5px;
        color: inherit;
        text-decoration: none;
        font-size: var(--text-sm);
        cursor: pointer;
    }

    .file-info svg {
        height: 15px;
    }

    .file-info p {
        font-weight: var(--weight-sb);
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-info span {
        color: var(--MutedForegroundC);
    }

    .attachment .btn-download {
        text-decoration: none;
        color: inherit;
        font-size: var(--text-sm);
        border-radius: var(--radius-md);
        padding: 3px;
        transition: background-color .2s ease-in-out;
        cursor: pointer;
    }

    .attachment .btn-download:hover {
        background-color: var(--SwitchBackground);
    }

    /*REACTION ACTIONS*/
    .publication-card .reactions-info {
        border-top: 1px solid var(--SwitchBackground);
        border-bottom: 1px solid var(--SwitchBackground);
        padding: 1rem 0;
        display: flex;
        gap: 20px;
    }

    .reactions-info .reactions-statistics {
        display: flex;
        gap: 1px;
        align-items: center;
        color: var(--MutedForegroundC);
    }

    .reactions-statistics svg {
        height: 15px;
    }

    .publication-card .reaction-actions {
        display: flex;
        gap: 15px;
    }

    .publication-card .reaction-actions form {
        display: flex;
        gap: 15px;
    }

    .reaction-actions .reaction-option {
        border: none;
        display: flex;
        gap: 10px;
        align-items: center;
        background: none;
        padding: 8px;
        border-radius: var(--radius-md);
        cursor: pointer;
        transition: background-color .2s ease;
    }

    .reaction-option:hover {
        background-color: var(--Muted);
    }

    .reaction-option svg {
        height: 15px;
    }

    /*COMENT AREA*/
    .comment-section {
        display: none;
        max-height: 270px;
        overflow-y: auto;
    }

    .comment-section.showCommentSection {
        display: block;
    }

    .publication-card .comment-area {
        display: flex;
        gap: 15px;
        width: 100%;
        border-top: 1px solid var(--SwitchBackground);
        padding-top: 15px;
    }

    .comment-area .img-user {
        height: 40px;
        width: 40px;
        border-radius: var(--radius-full);
        background-color: var(--Muted);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comment-area form {
        width: 100%;
    }

    .comment-area .comment-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .comment-box textarea {
        width: 100%;
        height: 80px;
        resize: none;
        font-family: inherit;
        font-size: var(--text-nl);
        border: 1px solid transparent;
        border-radius: var(--radius-md);
        outline: 3px solid transparent;
        background-color: var(--Muted);
        padding: 10px;
        transition: all .2s ease-in-out;
    }

    .comment-box textarea:focus {
        outline-color: var(--SwitchBackground);
        border-color: gray;
    }

    .comment-box .btn-comment {
        width: fit-content;
        padding: 8px 10px;
        border: none;
        border-radius: var(--radius-sm);
        background-color: var(--AccentBlue);
        color: var(--Background);
        transition: background-color .1s ease-in-out;
    }

    .comment-box .btn-comment:hover {
        background-color: var(--AccentBlueHover);
    }

    /*COMMENTS SHOWING*/
    .publication-card .show-comment-area {
        display: flex;
        gap: 15px;
        width: 100%;
        margin-top: 15px;
    }

    .show-comment-area .img-user {
        height: 40px;
        width: 40px;
        border-radius: var(--radius-full);
        background-color: var(--Muted);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show-comment-area .show-comment-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 3px;
    }

    .show-comment-box .show-comment {
        width: 100%;
        font-size: var(--text-nl);
        border-radius: var(--radius-md);
        background-color: var(--Muted);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .show-comment h4 {
        font-weight: var(--weight-bd);
    }

    .show-comment-box span {
        font-weight: var(--weight-lg);
        font-size: var(--text-sm);
        color: var(--MutedForegroundC);
    }


    .thumbs-up.click {
        color: var(--AccentBlue);
    }

    .favorite.click {
        color: var(--Destructive);
    }
}


@media screen and (min-width: 991px) {

    .feed-wrapper {
        display: grid;
        grid-template: 1fr / 170px 1fr 170px;
        margin-top: 110px;
    }

    #feed-section {
        grid-column: 2;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #feed-section .header-feed {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-feed .title-feed {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .title-feed h2 {
        font-weight: var(--weight-bd);
        font-size: 1.7rem;
    }

    .title-feed p {
        color: var(--MutedForegroundC);
        font-size: 1.1rem;
    }

    .header-feed .btn-new-publish {
        height: 37px;
        border: none;
        border-radius: var(--radius-sm);
        background-color: var(--AccentBlue);
        color: var(--Background);
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: var(--text-sm);
        font-weight: var(--weight-br);
        transition: background-color .1s ease-in-out;
    }

    .btn-new-publish:hover {
        background-color: var(--AccentBlueHover);
    }

    .btn-new-publish svg {
        height: 21px;
        width: 21px;
    }

    /*PUBLICATION MODAL*/
    .feed-modal {
        width: 650px;
        background-color: var(--Background);
        padding: 1.5rem;
        border: 1px solid var(--Muted);
        border-radius: var(--radius-md);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 2px 6px 23px rgba(0, 0, 0, .3);
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: none;
        z-index: 2;
    }

    .feed-modal.show {
        display: block;
    }

    .feed-modal .feed-modal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    .feed-modal-header h3 {
        font-weight: var(--weight-bd);
    }

    .feed-modal-header p {
        text-align: center;
        color: var(--MutedForegroundC);
    }

    .feed-modal-header .close-icon-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        background: none;
        border: none;
        padding: 2px;
        border-radius: var(--radius-sm);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .1s ease-in-out;
    }

    .close-icon-btn img {
        height: 18px;
        width: 18px;
    }

    .close-icon-btn:hover {
        background-color: var(--Muted);
    }

    /*FORM PUBLICATION*/
    .publication-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .publication-form .input-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .input-box label {
        font-weight: var(--weight-sb);
    }

    .input-box select {
        height: 40px;
        background-color: var(--InputBackground);
        border: 1px solid transparent;
        outline: 3px solid transparent;
        border-radius: var(--radius-sm);
        padding: 5px;
        font-weight: var(--weight-nl);
        transition: all .1s ease-in-out;
    }

    .input-box textarea {
        height: 65px;
        background-color: var(--InputBackground);
        border: 1px solid transparent;
        border-radius: var(--radius-md);
        outline: 3px solid transparent;
        padding: 6px 12px;
        resize: none;
        font-family: inherit;
        transition: all .1s ease-in-out;
        font-size: var(--text-nl);
    }

    .input-box .fileName {
        color: var(--MutedForegroundC);
    }

    .input-box select:focus,
    .input-box textarea:focus {
        outline-color: var(--SwitchBackground);
        border-color: gray;
    }

    .btn-publish-box {
        align-self: flex-end;
        margin-top: 10px;
        display: flex;
        gap: 10px;

    }

    .btn-publish-box button {
        width: 85px;
        height: 35px;
        border: none;
        border-radius: var(--radius-sm);
        font-size: var(--text-sm);
        transition: all .1s ease-in-out;
    }

    .btn-publish-box button:nth-child(1) {
        background-color: var(--Background);
        border: 1px solid var(--SwitchBackground);
    }

    .btn-publish-box button:nth-child(1):hover {
        background-color: var(--Muted);
    }

    .btn-publish-box button:nth-child(2) {
        background-color: var(--AccentBlue);
        color: var(--Background);
        font-weight: var(--weight-br);
    }

    .btn-publish-box button:nth-child(2):hover {
        background-color: var(--AccentBlueHover);
    }


    /*TABS BUBLICATION AREA*/
    .tabs-publication {
        background-color: var(--Muted);
        padding: 5px;
        border-radius: var(--radius-lg);
        display: flex;
    }

    .tabs-publication button {
        height: 33px;
        width: 50%;
        border: none;
        border-radius: var(--radius-lg);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: var(--text-md);
    }

    .tabs-publication button svg {
        height: 19px;
        width: 19px;
    }

    .tabs-publication .active {
        background-color: var(--AccentBlue);
        color: var(--Background);
    }


    /*PUBLICATION CARD*/
    .publication-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: none;
    }

    div .active-pub {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .publication-card {
        border: 1px solid var(--SwitchBackground);
        border-radius: var(--radius-md);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    .publication-card .header-publication-card {
        display: flex;
        justify-content: space-between;
    }

    .header-publication-card .info-user-publication-card {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .info-user-publication-card .img-user {
        border-radius: var(--radius-full);
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Muted);
    }

    .img-user img {
        height: 100%;
        width: 100%;
        aspect-ratio: 3/4;
    }

    .info-user-publication-card .name-user {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .name-user h4 {
        font-weight: var(--weight-bd);
        font-size: 1.05rem;
    }

    .name-user p {
        color: var(--MutedForegroundC);
        font-size: var(--text-sm);
    }

    .info-user-publication-card .publication-type-info {
        font-size: var(--text-sm);
        background-color: var(--Muted);
        height: fit-content;
        padding: 2px 5px;
        border-radius: var(--radius-md);
    }

    .header-publication-card .options-publication-card {
        height: 25px;
        border: none;
        background: none;
    }

    .options-publication-card svg {
        height: 25px;
        padding: 3px;
        border-radius: var(--radius-sm);
    }

    .options-publication-card svg:hover {
        background-color: var(--Muted);
    }


    /*DROP ACTIONS POST CARD*/
    .options-publication-card .drop-post-card-actions {
        position: absolute;
        right: 200px;
        width: 190px;
        background-color: var(--Background);
        border: 1px solid var(--Muted);
        border-radius: var(--radius-sm);
        box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        padding: 5px;
        display: none;
    }

    .drop-post-card-actions.dropActionsPostCard {
        display: block;
    }

    .drop-post-card-actions .drop-post-card-action {
        display: flex;
        gap: 10px;
        padding: 6px 5px;
        border-radius: var(--radius-sm);
        align-items: center;
        transition: background-color .1s ease;
    }

    .drop-post-card-action svg {
        color: var(--Destructive);
    }

    .drop-post-card-action:nth-child(2) {
        color: var(--Destructive);
    }

    .drop-post-card-action:hover {
        background-color: var(--Muted);
    }


    /*CONTENT PUBLICATION*/
    .publication-card .publication-card-content {
        color: var(--Primary);
        display: flex;
        flex-direction: column;
        gap: 15px;
        line-height: 1.4rem;
    }

    .publication-card-content>p {
        font-size: 1.05rem;
    }

    .publication-card-content .attachment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--Muted);
        border-radius: var(--radius-md);
        padding: 7px 10px;
    }

    .attachment .file-info {
        display: flex;
        align-items: center;
        gap: 5px;
        color: inherit;
        text-decoration: none;
        font-size: var(--text-sm);
        cursor: pointer;
        width: 100%;
    }

    .file-info svg {
        height: 15px;
    }

    .file-info p {
        font-weight: var(--weight-sb);
        width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-info span {
        color: var(--MutedForegroundC);
    }

    .attachment .btn-download {
        text-decoration: none;
        color: inherit;
        font-size: var(--text-sm);
        border-radius: var(--radius-md);
        padding: 3px;
        transition: background-color .2s ease-in-out;
        cursor: pointer;
    }

    .attachment .btn-download:hover {
        background-color: var(--SwitchBackground);
    }

    /*REACTION ACTIONS*/
    .publication-card .reactions-info {
        border-top: 1px solid var(--SwitchBackground);
        border-bottom: 1px solid var(--SwitchBackground);
        padding: 1rem 0;
        display: flex;
        gap: 20px;
    }

    .reactions-info .reactions-statistics {
        display: flex;
        gap: 1px;
        align-items: center;
        color: var(--MutedForegroundC);
    }

    .reactions-statistics svg {
        height: 18px;
    }

    .publication-card .reaction-actions {
        display: flex;
        gap: 15px;
    }

    .publication-card .reaction-actions form {
        display: flex;
        gap: 15px;
    }

    .reaction-actions .reaction-option {
        border: none;
        display: flex;
        gap: 10px;
        align-items: center;
        background: none;
        padding: 8px;
        border-radius: var(--radius-md);
        cursor: pointer;
        transition: background-color .2s ease;
    }

    .reaction-option:hover {
        background-color: var(--Muted);
    }

    .reaction-option svg {
        height: 18px;
    }

    .reaction-option p {
        font-size: var(--text-md);
    }

    /*COMMENT AREA*/
    .comment-section {
        display: none;
        max-height: 370px;
        overflow-y: auto;
    }

    .comment-section.showCommentSection {
        display: block;
    }

    .publication-card .comment-area {
        display: flex;
        gap: 15px;
        width: 100%;
        border-top: 1px solid var(--SwitchBackground);
        padding-top: 15px;
    }

    .comment-area .img-user {
        height: 40px;
        width: 40px;
        border-radius: var(--radius-full);
        background-color: var(--Muted);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comment-area form {
        width: 100%;
    }

    .comment-area .comment-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .comment-box textarea {
        width: 100%;
        height: 80px;
        resize: none;
        font-family: inherit;
        font-size: var(--text-nl);
        border: 1px solid transparent;
        border-radius: var(--radius-md);
        outline: 3px solid transparent;
        background-color: var(--Muted);
        padding: 10px;
        transition: all .2s ease-in-out;
    }

    .comment-box textarea:focus {
        outline-color: var(--SwitchBackground);
        border-color: gray;
    }

    .comment-box .btn-comment {
        width: fit-content;
        padding: 10px 15px;
        border: none;
        border-radius: var(--radius-sm);
        background-color: var(--AccentBlue);
        color: var(--Background);
        transition: background-color .1s ease-in-out;
        font-size: var(--text-md);
    }

    .comment-box .btn-comment:hover {
        background-color: var(--AccentBlueHover);
    }

    /*COMMENTS SHOWING*/
    .publication-card .show-comment-area {
        display: flex;
        gap: 15px;
        width: 100%;
        margin-top: 20px;
    }

    .show-comment-area .img-user {
        height: 40px;
        width: 40px;
        border-radius: var(--radius-full);
        background-color: var(--Muted);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show-comment-area .show-comment-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }

    .show-comment-box .show-comment {
        width: 100%;
        font-size: var(--text-nl);
        border-radius: var(--radius-md);
        background-color: var(--Muted);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .show-comment h4 {
        font-weight: var(--weight-bd);
    }

    .show-comment-box span {
        font-weight: var(--weight-lg);
        color: var(--MutedForegroundC);
        font-size: 13px;
    }

    .thumbs-up.click {
        color: var(--AccentBlue);
    }

    .favorite.click {
        color: var(--Destructive);
    }
}