@media screen and (max-width: 768px) {

    .info-account,
    .security,
    .school-info-section {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info-account .up-section,
    .security .up-section,
    .school-info-section .up-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .icon-back {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 90px;
    }

    .up-section .icon-back a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-bottom: 15px;
        width: 90px;
        height: 100%;
        padding: 3px 5px;
        border-radius: var(--radius-md);
        transition: background-color .2s ease;
        text-decoration: none;
    }

    .icon-back a p,
    .icon-back a svg {
        color: var(--Primary);
        font-weight: var(--weigth-nl);
    }

    .icon-back a:hover {
        background-color: var(--InputBackground);
    }

    .up-section h4 {
        font-weight: var(--weigth-nl);
    }

    .up-section p {
        font-weight: 300;
    }

    /*PERSONAL INFORMATIONS*/
    .personal-info-card {
        border: 1PX solid var(--SwitchBackground);
        border-radius: var(--radius-md);
    }

    .personal-info-card .title-area {
        padding: 1.3rem;
        border-bottom: 1px solid var(--SwitchBackground);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .title-area .logo-img{
    }
    .title-area .title-desc {
        line-height: 1.5rem;
    }

    .title-area .title-desc h4 {
        font-weight: var(--weigth-nl);
    }

    .title-area .title-desc p {
        font-weight: 300;
    }

    .title-area .btn-edit-info {
        width: 100%;
    }

    .btn-edit-info button {
        width: 100%;
        height: 36px;
        border: none;
        background-color: var(--AccentBlue);
        border-radius: var(--radius-sm);
        color: var(--Secondary);
        font-size: var(--text-sm);
        transition: background-color .1s ease;
    }

    .btn-edit-info button:hover {
        background-color: var(--AccentBlueHover);
    }

    .personal-info-card .profile-photo-area {
        padding: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        border-bottom: 1px solid var(--SwitchBackground);
        width: 90%;
        margin: auto;
        gap: 20px;
    }

    .profile-photo-area .profile-img {
        height: 90px;
        width: 90px;
        background-color: var(--Secondary);
        border-radius: var(--radius-full);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-img img {
        aspect-ratio: 3/4;
        height: 100%;
        width: 100%;
    }
    .profile-img svg {
        aspect-ratio: 3/4;
        height: 100%;
        width: 100%;
        color: var(--AccentBlue);
    }

    .personal-info-card .nome-role {
        text-align: center;
    }

    .nome-role h4 {
        font-weight: var(--weigth-nl);
    }

    .nome-role p {
        font-weight: 300;
    }

    .personal-info-card .personal-info-area {
        padding: 1.3rem;
        display: grid;
        gap: 20px;
        grid-template: 1fr / 1fr;
    }

    .personal-info-area .data {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .data h5 {
        font-weight: var(--weight-bd);
    }

    .data p {
        font-weight: 300;
    }

    /*ACCOUNT INFORMATIONS*/

    .info-account .account-info-card,
    .school-info-section .account-info-card {
        padding: 1.3rem;
        border: 1px solid var(--SwitchBackground);
        border-radius: var(--radius-md);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .account-info-card .title-desc {
        line-height: 1.5rem;
    }

    .account-info-card .title-desc h4 {
        font-weight: var(--weigth-nl);
    }

    .account-info-card .account-info-area {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .account-info-area .account-info {
        border-bottom: 1px solid var(--SwitchBackground);
        display: flex;
        gap: 8px;
        flex-direction: column;
        padding: 10px;
    }

    .status p {
        background-color: var(--status);
        border-radius: var(--radius-sm);
        padding: 0 8px;
        width: fit-content;
    }

    .account-info:nth-child(4) {
        border: none;
    }

    .account-info h5 {
        font-weight: var(--weigth-nl);
        color: var(--MutedForegroundC);
    }

    .account-info p {
        font-weight: 300;
    }

    /*ADD USER MODAL*/
    #edit-admin-modal {
        display: none;
        height: fit-content;
    }

    #edit-admin-modal.show {
        display: block;
    }

    /*SECURITY PAGE*/

    .security .alter-pass-area {
        border: 1PX solid var(--SwitchBackground);
        border-radius: var(--radius-md);
    }

    .alter-pass-area .title-area {
        padding: 1.3rem;
        border-bottom: 1px solid var(--SwitchBackground);
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .title-area .icon-security-area {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgImgColor);
        border-radius: var(--radius-full);
    }

    .icon-security-area svg {
        color: var(--AccentBlue);
    }

    .alter-pass-area .alter-pass-form .alter-form {
        padding: 1.3rem;
        display: flex;
        flex-direction: column;
    }

    .alter-form .input-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 1rem 0;
    }

    .alter-form .input-box:nth-child(odd) {
        border-bottom: 1px solid var(--SwitchBackground);
        padding-bottom: 20px;
    }

    .alter-form .input-box input {
        height: 35px;
        padding: 0 12px;
        border: 1px solid transparent;
        outline: 3px solid transparent;
        background-color: var(--InputBackground);
        border-radius: var(--radius-sm);
        font-size: var(--text-nl);
        transition: all .2s ease-in-out;
    }

    .alter-form .input-box input:focus {
        outline-color: var(--SwitchBackground);
        border-color: gray;
    }

    .alter-form .btn-box {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        padding: 1rem 0;
    }

    .btn-box button {
        height: 37px;
        border: none;
        border-radius: var(--radius-sm);
        font-size: var(--text-sm);
        transition: background-color .2s ease;
    }

    .btn-box button[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--AccentBlue);
        color: var(--Background);
    }

    .btn-box button[type="submit"]:hover {
        background-color: var(--AccentBlueHover);
    }

    .btn-box button[type="submit"] svg {
        height: 20px;
        width: 20px;
    }

    .btn-box button[type="button"] {
        border: 1px solid var(--SwitchBackground);
        background-color: var(--Background);
    }

    .btn-box button[type="button"]:hover {
        background-color: var(--Muted);
    }

    /*SECURITY TIPS AREA*/
    .security .security-tips-area {
        padding: 1.3rem;
        border: 1PX solid var(--SwitchBackground);
        border-radius: var(--radius-md);
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .security-tips-area .title-area {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .title-area .icon-lock-area {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-lock-area svg {
        color: var(--AccentBlue);
        height: 20px;
        width: 20px;
    }

    .security-tips-area .tips-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 25px;
    }

    .tips-list .tip-item {
        display: flex;
        gap: 5px;
    }

    .tip-item svg {
        flex-shrink: 0;
        height: 28px;
        width: 28px;
        color: var(--AccentBlue);
    }

    .tip-item p {
        font-size: var(--text-sm);
        color: var(--MutedForegroundC);
    }
}


@media screen and (min-width: 769px) {

    .info-account,
    .security,
    .school-info-section {
        width: 100%;
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .info-account .up-section,
    .security .up-section,
    .school-info-section .up-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 30px;
    }


    .icon-back {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 90px;
    }

    .up-section .icon-back a {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-bottom: 15px;
        width: 90px;
        height: 100%;
        padding: 3px 5px;
        border-radius: var(--radius-md);
        transition: background-color .2s ease;
        text-decoration: none;
    }

    .icon-back a p,
    .icon-back a svg {
        color: var(--Primary);
    }


    .icon-back a:hover {
        background-color: var(--InputBackground);
    }


    .icon-back p {
        font-weight: var(--weight-bd);
        color: black;
    }

    .up-section h4 {
        font-weight: var(--weigth-bd);
    }

    .up-section p {
        color: var(--MutedForegroundC);
        font-size: var(--text-lg);
    }

    /*PERSONAL INFORMATIONS*/
    .personal-info-card {
        border: 1PX solid var(--SwitchBackground);
        border-radius: var(--radius-md);
    }

    .personal-info-card .title-area {
        padding: 1.3rem;
        border-bottom: 1px solid var(--SwitchBackground);
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .title-area .title-desc {
        line-height: 1.5rem;
    }

    .title-area .title-desc h4 {
        font-weight: var(--weigth-nl);
    }

    .title-area .title-desc p {
        color: var(--MutedForegroundC);
    }

    .title-area .btn-edit-info {
        width: 160px;
    }

    .btn-edit-info button {
        width: 100%;
        height: 36px;
        border: none;
        background-color: var(--AccentBlue);
        border-radius: var(--radius-sm);
        color: var(--Secondary);
        font-weight: var(--weight-br);
        font-size: var(--text-sm);
        transition: background-color .1s ease;
    }

    .btn-edit-info button:hover {
        background-color: var(--AccentBlueHover);
    }

    .personal-info-card .profile-photo-area {
        display: flex;
        align-items: center;
        height: 200px;
        border-bottom: 1px solid var(--SwitchBackground);
        width: 95%;
        margin: auto;
        gap: 50px;
    }

    .profile-photo-area .profile-img {
        height: 75px;
        width: 75px;
        background-color: var(--Secondary);
        border-radius: var(--radius-full);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-img img {
        aspect-ratio: 3/4;
        height: 100%;
        width: 100%;
    }
    .profile-img svg {
        aspect-ratio: 3/4;
        height: 100%;
        width: 100%;
        color: var(--AccentBlue);
    }

    .nome-role {
        line-height: 1.5rem;
    }

    .nome-role h4 {
        font-weight: var(--weigth-nl);
    }

    .nome-role p {
        color: var(--MutedForegroundC);
    }

    .personal-info-card .personal-info-area {
        padding: 1.5rem;
        display: grid;
        gap: 20px;
        grid-template: 1fr / 1fr 1fr;
    }

    .personal-info-area .data {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .data h5 {
        font-weight: var(--weight-bd);
    }

    .data p {
        color: var(--MutedForegroundC);
    }

    /*ACCOUNT INFORMATIONS*/

    .info-account .account-info-card,
    .school-info-section .account-info-card {
        padding: 1.3rem;
        border: 1px solid var(--SwitchBackground);
        border-radius: var(--radius-md);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .account-info-card .title-desc {
        line-height: 1.5rem;
    }

    .account-info-card .title-desc h4 {
        font-weight: var(--weigth-nl);
    }

    .account-info-card .account-info-area {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .account-info-area .account-info {
        border-bottom: 1px solid var(--SwitchBackground);
        display: flex;
        justify-content: space-between;
        gap: 8px;
        padding: 10px;
    }

    .status p {
        background-color: var(--status);
        border-radius: var(--radius-md);
        padding: 0 8px;
        display: flex;
        align-items: center;
    }

    .account-info:nth-child(4) {
        border: none;
    }

    .account-info h5 {
        font-weight: var(--weigth-nl);
        color: var(--MutedForegroundC);
        font-size: var(--text-md);
    }

    .account-info p {
        color: var(--MutedForegroundC);
    }


    /*ADD USER MODAL*/
    #edit-admin-modal {
        display: none;
        height: fit-content;
        width: 500px;
    }

    #edit-admin-modal.show {
        display: block;
    }


    /*SECURITY PAGE*/
    .security .alter-pass-area {
        border: 1PX solid var(--SwitchBackground);
        border-radius: var(--radius-md);
    }

    .up-section h4 {
        font-size: 1.1rem;
    }

    .alter-pass-area .title-area {
        padding: 1.3rem;
        border-bottom: 1px solid var(--SwitchBackground);
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .title-area .icon-security-area {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgImgColor);
        border-radius: var(--radius-full);
    }

    .icon-security-area svg {
        color: var(--AccentBlue);
    }

    .alter-pass-area .alter-pass-form .alter-form {
        padding: 1.3rem;
        display: flex;
        flex-direction: column;
    }

    .alter-form .input-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 1rem 0;
    }

    .alter-form .input-box:nth-child(odd) {
        border-bottom: 1px solid var(--SwitchBackground);
        padding-bottom: 20px;
    }

    .alter-form .input-box input {
        height: 40px;
        padding: 0 12px;
        border: 1px solid transparent;
        outline: 3px solid transparent;
        background-color: var(--InputBackground);
        border-radius: var(--radius-sm);
        font-size: var(--text-nl);
        transition: all .2s ease-in-out;
    }

    .alter-form .input-box input:focus {
        outline-color: var(--SwitchBackground);
        border-color: gray;
    }

    .alter-form .btn-box {
        display: flex;
        gap: 10px;
        padding: 1rem 0;
    }

    .btn-box button {
        height: 39px;
        border: none;
        border-radius: var(--radius-sm);
        font-size: var(--text-sm);
        transition: background-color .2s ease;
    }

    .btn-box button[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--AccentBlue);
        color: var(--Background);
        width: 150px;
    }

    .btn-box button[type="submit"]:hover {
        background-color: var(--AccentBlueHover);
    }

    .btn-box button[type="submit"] svg {
        height: 20px;
        width: 20px;
    }

    .btn-box button[type="button"] {
        border: 1px solid var(--SwitchBackground);
        background-color: var(--Background);
        width: 90px;
    }

    .btn-box button[type="button"]:hover {
        background-color: var(--Muted);
    }

    /*SECURITY TIPS AREA*/
    .security .security-tips-area {
        padding: 1.3rem;
        border: 1PX solid var(--SwitchBackground);
        border-radius: var(--radius-md);
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .security-tips-area .title-area {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .security-tips-area .title-area .title-desc h4 {
        font-size: 1.05rem;
    }

    .title-area .icon-lock-area {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-lock-area svg {
        color: var(--AccentBlue);
        height: 21px;
        width: 21px;
    }

    .security-tips-area .tips-list {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-left: 30px;
    }

    .tips-list .tip-item {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .tip-item svg {
        flex-shrink: 0;
        height: 30px;
        width: 30px;
        color: var(--AccentBlue);
    }

    .tip-item p {
        color: var(--MutedForegroundC);
    }
}